<div class="form-group row">
  <div class="col-sm-4">
    <label>Tên sản phẩm</label>
    <input type="text" class="form-control" placeholder="Tên sản phẩm" name="productionName" readonly
      [(ngModel)]="form.productionName">
  </div>

  <div class="col-sm-4">
    <label>Mã sản phẩm</label>
    <input type="text" class="form-control" placeholder="Mã sản phẩm" name="productionCode" readonly
      [(ngModel)]="form.productionCode">
  </div>

  <div class="col-sm-4">
    <label>Version</label>
    <input type="text" class="form-control" placeholder="Version" name="bomVersion" readonly
      [(ngModel)]="form.bomVersion">
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-4">
    <label>Ngành</label>
    <input type="text" class="form-control" placeholder="Ngành" name="branchName" readonly
      [(ngModel)]="form.branchName">
  </div>

  <div class="col-sm-4">
    <label>Tổ</label>
    <input type="text" class="form-control" placeholder="Tổ" name="groupName" readonly
      [(ngModel)]="form.groupName">
  </div>

  <div class="col-sm-4">
    <label>Thông tin Profile </label>
    <input type="text" class="form-control" placeholder="Thông tin profile" name="profileName" readonly
      [(ngModel)]="form.profileName">
  </div>

  <!-- <div class="col-sm-4">
    <label>Đặc điểm chú ý</label>
    <input type="text" class="form-control" placeholder="Đặc điểm chú ý" name="version" readonly
      [(ngModel)]="form.version">
  </div> -->
</div>


<div class="form-group row">
  <div class="col-sm-3">
    <label>Mã lệnh</label>
    <input type="text" class="form-control" placeholder="Mã lệnh" name="workOrderId" readonly
      [(ngModel)]="form.workOrderId">
  </div>

  <div class="col-sm-3">
    <label>Số lượng</label>
    <input type="text" class="form-control" placeholder="Số lượng" name="quantityPlan" readonly
      [(ngModel)]="form.quantityPlan">
  </div>

  <div class="col-sm-3">
    <label>Số lô</label>
    <input type="text" class="form-control" placeholder="Số lô" name="lotNumber" readonly
      [(ngModel)]="form.lotNumber">
  </div>

  <div class="col-sm-3">
    <label>Mã đơn hàng</label>
    <input type="text" class="form-control" placeholder="Mã đơn hàng" name="planingWorkOrderCode" readonly
      [(ngModel)]="form.planingWorkOrderCode">
  </div>
</div>
