.container-table-header-1,
.container-table-header-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-header-1 {
  width: 32%;
  /* background-color: #097D99; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-2 {
  width: 32%;
  /* background-color: #097D99; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-3 {
  width: 15%;
  /* background-color: #097D99; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-4 {
  width: 20%;
  /* background-color: #097D99; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-5 {
  width: 32%;
  /* background-color: #29A29E; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-6 {
  width: 15%;
  /* background-color: #29A29E; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-7 {
  width: 26%;
  /* background-color: #29A29E; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.table-header-8 {
  width: 26%;
  /* background-color: #29A29E; */
  color: #61750C;
  border: solid 2px #bbbbbb;
}

.container-header {
  text-align: center;
  font-size: 18px
}

.container-table-body-1,
.container-table-body-2 {
  width: 5rem;
  font-weight: 800;
  text-align: center;
  font-size: 16px;
  color: #0F36E8;
  vertical-align: top;
}

.chartCard,
.chartCardSPNhieuLoi,
.chartCardNhomLoi {
  width: 100%;
}

.chartBoxNhomLoi,
.chartBoxChatLuongNhap {
  width: 30rem;
  margin: 0 auto;
}

/* input[type="text"] {
  width: 80vw;
  height: 15vh;
  box-sizing: border-box;
  word-wrap: break-word;
} */

.inp-DGCL {
  width: 80vw;
  height: 15vh;
  box-sizing: border-box;
  word-wrap: break-word;
}

.input-container {
  margin: 0 auto
}


.button-header {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  justify-self: end;
}

.button-header:hover {
  background-color: #45a049;
}

.button-header:active {
  background-color: #3e8e41;
}

.popup-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: auto;
  overflow: hidden;
}

.popup-container {
  width: 92vw;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: visible;
  min-height: 100vh;
  position: absolute;
  top: 2vh;
  z-index: 1;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search-inputs {
  display: flex;
}

.form-search,
.form-label {
  width: 10vw;
}

.button-header {
  height: 3rem;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  font-size: 36px;
  color: #000;
}

.form-popup-declare {
  display: flex;
  justify-content: space-around;
}

.custom-column {
  width: 15rem;
  background-color: #006699;
  color: #fff;
}

.inp-column-declare {
  border: none;
  background-color: #fff;
  font-size: 16px;
}

.btn-save,
.btn-cancel {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.btn-save {
  background-color: #4CAF50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  margin-left: 8px;
}

.btn-view {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-view:hover {
  background-color: #0056b3;
}

.header-parent {
  font-size: 18px;
  width: 10rem;
  height: 4rem;
  /* border: 0.5px solid white; */
  text-transform: uppercase;
  text-align: center;
  color: #066040;
}

/* css cho khung tìm kiếm theo các trường thông tin */
.search-item {
  display: inline-block;
  margin-right: 12px;
}

.ten-san-pham {
  width: 360px;
}

.search-item-body {
  width: 165px;
}

.search-list {}

.search-container {
  display: flex;
  justify-content: space-between;
}

/* css cho khung tìm kiếm theo khoảng thời gian */
.search-time-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.search-time-list {
  display: flex;
}

.search-time-item {
  display: block;
  margin-right: 12px
}

.search-time-btn {
  background-color: #2196f3;
  width: 138px;
  margin-right: 12px;
}

.btn-search-header {
  background-color: #45a049;
}

.btn-report-header {
  background-color: #2ddbe6;
}

/* css cho phần table */
.table-header {
  font-size: 15px;
}

.table-body {
  font-size: 18px;
}

/* css cho phần chart */
.chart-container {
  display: flex;
  margin: 48px 0px;
  height: 310px;
  justify-content: space-between;
}

.chart-list {
  width: 49%;
  /* border: #000 solid 1px; */
  border-radius: 12px;
}

.chart-item-one {
  display: flex;
  /* border-bottom: #000 solid 1px; */
  font-size: 18px;
  height: 25px;
  margin: 0px;
}

.chart-item-two-list {
  height: 277px;
  width: 808px;
  max-width: 808px;
  overflow: auto;
}

.chart-item-two {
  height: 277px;
}

/* css cho pie chart */
.pie-chart {
  margin: 0 auto;
  height: 290px;
  width: 400px;
}
