<!-- <img src="../assets/img/logo_home.jpg" alt="logo" style="width: 100%;"> -->
<div id="htmlData">
<div class="search-time-container">
  <div class="search-time-list">
    <div class="search-time-item">
      <label class="form-label" for="start-time">Thời gian bắt đầu</label>
      <input class="form-control form-search" type="date" [(ngModel)]="startDate" id="startDate"
        [ngModelOptions]="{ standalone: true }" (change)="checkDate()">
    </div>

    <div class="search-time-item">
      <label class="form-label">Thời gian kết thúc</label>
      <input class="form-control form-search" type="date" [(ngModel)]="endDate" id="endDate"
        [ngModelOptions]="{ standalone: true }" (change)="checkDate()">
    </div>
  </div>
  <div class="search-time-list">
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn btn-search-header" (click)="getAllDataDashBoard()">
        <mat-icon>search</mat-icon>Find</button>
    </div>
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn btn-config-header" (click)="openPopupConfig()">
        <mat-icon>border_color</mat-icon>Config</button>
    </div>
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn btn-report-header" style="margin-right: 0;" (click)="openPopupReport()">
        <mat-icon>subject</mat-icon>Report</button>
    </div>
  </div>
</div>
<div class="search-container">
  <div class="search-list">
    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Đơn vị sản xuất</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="branchSearchKey" [ngModelOptions]="{ standalone: true }" (input)="OnBranchNameInputChange()" style="border: none;">
          <mat-option *ngFor="let item of _branchList"
            (onSelectionChange)="onBranchNameChange(item.branchName,$event)">{{item.branchName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Tổ sản xuất</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="groupSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)" style="border: none;">
          <mat-option *ngFor="let item of _groupList"
            (onSelectionChange)="onGroupNameChange(item.groupName,$event)">{{item.groupName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Mã sản phẩm</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="productCodeSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)" style="border: none;">
          <mat-option *ngFor="let item of _productionCodeList"
            (onSelectionChange)="onGroupNameChange(item.productionCode,$event)">{{item.productionCode}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-item">
      <mat-form-field class="ten-san-pham">
        <mat-label>Tên sản phẩm</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="productNameSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)" style="border: none;">
          <mat-option *ngFor="let item of _productionNameList"
            (onSelectionChange)="onGroupNameChange(item.productionName,$event)">{{item.productionName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-fab extended style="background-color:#2196f3" (click)="search()">
      <mat-icon>search</mat-icon>
      Tìm kiếm
    </button>
  </div>
</div>
<!-- popup config -->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupConfig===true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>Khai báo</h2>
      <span class="close-btn" (click)="closePopupConfig()">&times;</span>
    </div>
    <div class="popup-content">
      <form action="" class="form-popup-declare">
        <div>
          <h2>Tỉ lệ lỗi mục tiêu các bộ phận</h2>
          <table class=" table table-striped">
            <thead>
              <tr style="background-color: #006699">
                <th class="custom-column">Tên ngành</th>
                <th class="custom-column">Tỉ lệ % mục tiêu</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listOfNganh">
                <td><input type="text" name="tenNganh" class="form-control inp-colum-declare" value="{{data.tenNganh}}">
                </td>
                <td><input type="text" name="target" class="form-control inp-colum-declare" value="{{data.target}}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h2>Mức độ cảnh báo tỉ lệ lỗi mua hàng vật tư</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="custom-column">Mục tiêu</th>
                <th class="custom-column">Tỉ lệ % lỗi MIN</th>
                <th class="custom-column">Tỉ lệ % lỗi MAX</th>
                <th class="custom-column">Chọn màu</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listOfTarget">
                <td><input type="text" name="nameTarget" class="form-control inp-colum-declare"
                    value="{{data.nameTarget}}"></td>
                <td><input type="text" name="targetMin" class="form-control inp-colum-declare"
                    value="{{data.targetMin}}"></td>
                <td><input type="text" name="targetMax" class="form-control inp-colum-declare"
                    value="{{data.targetMax}}"></td>
                <td>
                  <select value="" class="form-control inp-colum-declare">
                    <option name="" id="">Xanh</option>
                    <option name="" id="">Vàng</option>
                    <option name="" id="">Đỏ</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <button class="btn-save">Lưu</button>
      <button class="btn-cancel">Huỷ</button>
    </div>
  </div>
</div>

<!-- popup Report -->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupReport === true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>View List Report</h2>
      <span class="close-btn" (click)="closePopupReport()">&times;</span>
    </div>
    <div class="popup-content">
      <form action="">
        <table class=" table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <span>STT</span>
              </th>
              <th scope="col">
                <span>Thời gian chạy báo cáo</span>
              </th>
              <th scope="col">
                <span>Người chạy</span>
              </th>
              <th scope="col">
                <span>Nhận xét</span>
              </th>
              <th scope="col">
                <span>Trạng thái</span>
              </th>
              <th scope="col">
                <span>Option</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i = index; let data of listOfReport">
              <td>{{i+1}}</td>
              <td>{{data.timeReport}}</td>
              <td>{{data.user}}</td>
              <td>{{data.comment}}</td>
              <td>{{data.status}}</td>
              <td><button class="btn-view">View</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<div class="container-table-header-1">
  <table class="table-header-1">
    <thead>
      <tr>
        <th class="header-parent" colspan="4">thông tin chất lượng sản phẩm</th>
      </tr>
      <tr>
        <th class="container-header">{{tongSlSpNhapKho | number}}</th>
        <th class="container-header">{{tongSlSpKhongDat | number}}</th>
        <th class="container-header">{{tiLeSpDat}}%</th>
        <th class="container-header">{{tiLeSpLoiQuaTrinh}}%</th>
      </tr>
    </thead>
    <tbody>
      <td class="container-table-body-1">Tổng số lượng nhập kho</td>
      <td class="container-table-body-1">Tổng số lượng không đạt</td>
      <td class="container-table-body-1">Tỉ lệ sản phẩm đạt</td>
      <td class="container-table-body-1">Tỉ lệ lỗi quá trình</td>
    </tbody>
  </table>

  <table class="table-header-2">
    <thead>
      <tr>
        <th class="header-parent" colspan="4">thông tin chất lượng bán thành phẩm</th>
      </tr>
      <tr>
        <th class="container-header">{{tongSlBTPNhapKho | number}}</th>
        <th class="container-header">{{tongSlBTPKhongDat | number}}</th>
        <th class="container-header">{{tiLeBTPDat}}%</th>
        <th class="container-header">{{tiLeBTPLoiQuaTrinh}}%</th>
      </tr>
    </thead>
    <tbody>
      <td class="container-table-body-1">Tổng số lượng nhập kho</td>
      <td class="container-table-body-1">Tổng số lượng không đạt</td>
      <td class="container-table-body-1">Tỉ lệ sản phẩm đạt</td>
      <td class="container-table-body-1">Tỉ lệ lỗi quá trình</td>
    </tbody>
  </table>

  <table class="table-header-3">
    <thead>
      <tr>
        <th class="header-parent" colspan="2">tình trạng phê duyệt</th>
      </tr>
      <tr>
        <th class="container-header">{{choPheDuyetLenhSX | number}}</th>
        <th class="container-header">{{choPheDuyetBBKT | number}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="container-table-body-1">Chờ phê duyệt lệnh sản xuất</td>
        <td class="container-table-body-1">Chờ phê duyệt BB KT</td>
      </tr>
    </tbody>
  </table>
  <table class="table-header-4">
    <thead>
      <tr>
        <th class="header-parent" colspan="3">đánh giá chất lượng</th>
      </tr>
      <tr>
        <th class="container-header">{{soLoKT | number}}</th>
        <th class="container-header">{{soLoKhongDat | number}}</th>
        <th class="container-header">{{soLoNhanNhuong | number}}</th>
      </tr>
    </thead>
    <tbody>
      <td class="container-table-body-1">Số lô kiểm tra</td>
      <td class="container-table-body-1">Số lô không đạt</td>
      <td class="container-table-body-1">Số lô nhân nhượng</td>
    </tbody>
  </table>
</div>

<br>
<br>

<div class="container-table-header-2">
  <table class="table-header-5">
    <thead>
      <tr>
        <th class="header-parent" colspan="5">chất lượng vật tư</th>
      </tr>
      <tr>
        <!-- <th class="container-header">{{slVatTuNhap | number}}</th>
        <th class="container-header">{{slVatTuDat | number}}</th>
        <th class="container-header">{{slVatTuKhongDat | number}}</th>
        <th class="container-header">{{slVatTuNhanNhuong | number}}</th> -->
        <th class="container-header">{{100 | number}}</th>
        <th class="container-header">{{95 | number}}</th>
        <th class="container-header">{{1 | number}}</th>
        <th class="container-header">{{4 | number}}</th>
        <th class="container-header">{{tiLeLoiVatTuQTSX}}%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="container-table-body-2">Số lượng nhập hàng</td>
        <td class="container-table-body-2">Số lượng đạt</td>
        <td class="container-table-body-2">Số lượng không đạt</td>
        <td class="container-table-body-2">Số lượng nhân nhượng</td>
        <td class="container-table-body-2">Tỉ lệ lỗi vật tư trong QTSX</td>
      </tr>
    </tbody>
  </table>

  <table class="table-header-6">
    <thead>
      <tr>
        <th class="header-parent" colspan="2">mua hàng</th>
      </tr>
      <tr>
        <!-- <th class="container-header">{{tongSoNCC | number}}</th>
        <th class="container-header">{{tongSoBienBanIQC | number}}</th> -->
        <th class="container-header">{{30 | number}}</th>
        <th class="container-header">{{288 | number}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="container-table-body-2">Tổng số NCC</td>
        <td class="container-table-body-2">Tổng số biên bản IQC</td>
      </tr>
    </tbody>
  </table>

  <table class="table-header-7">
    <thead>
      <tr>
        <th class="header-parent" colspan="4">đánh giá thông số sản phẩm</th>
      </tr>
      <tr>
        <th class="container-header">{{tongSoMauDoSP | number}}</th>
        <th class="container-header">{{soMauSPDat | number}}</th>
        <th class="container-header">{{tiLeSPDatThongSo}}%</th>
        <th class="container-header">{{soMauSPKhongDat | number}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="container-table-body-2">Tổng số mẫu đo</td>
        <td class="container-table-body-2">Số mẫu đạt</td>
        <td class="container-table-body-2">% Đạt thông số</td>
        <td class="container-table-body-2">Số mẫu không đạt</td>
      </tr>
    </tbody>
  </table>

  <table class="table-header-8">
    <thead>
      <tr>
        <th class="header-parent" colspan="4">đánh giá thông số btp driver</th>
      </tr>
      <tr>
        <th class="container-header">{{tongSoMauDoBTPDrv | number}}</th>
        <th class="container-header">{{soMauBTPDrvDat | number}}</th>
        <th class="container-header">{{tiLeBTPDrvDatThongSo}}%</th>
        <th class="container-header">{{soMauBTPDrvKhongDat | number}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="container-table-body-2">Tổng số mẫu đo</td>
        <td class="container-table-body-2">Số mẫu đạt</td>
        <td class="container-table-body-2">% Đạt thông số</td>
        <td class="container-table-body-2">Số mẫu không đạt</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ----------------------------------------------- chart -------------------------------------------- -->
<div class="chart-container">
  <!-- column 1 -->
  <!-- Tỉ lệ lỗi các bộ phận SX so với mục tiêu -->
  <div class="chart-list" id="testChart" >
    <div class="chart-item-one" *ngIf="labelTitle === true">
        <mat-icon> bar_chart</mat-icon>
        <b style="margin-top: 3px">Tỉ lệ lỗi các bộ phận sản xuất/Mục tiêu</b>
        <mat-icon  (click)="viewFullScreen(0)" class="fullScreenBtn">crop_free</mat-icon>
      </div>
      <div class="chart-item-two-list"  id="testChart1">
        <div  class="chart-item-two"  id="testChart2">
          <mat-icon (click)="viewFullScreen(0)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChart" ></canvas>
        </div>
      </div>
  </div>

  <!-- Phân tích nhóm lỗi trong sx -->
  <div class="chart-list">
    <div class="chart-item-one"  *ngIf="labelTitle === true">
        <mat-icon> bar_chart</mat-icon>
        <b>Phân tích nhóm lỗi trong sản xuất</b>
        <mat-icon  (click)="viewFullScreen(1)" class="fullScreenBtn">crop_free</mat-icon>
    </div>
    <div class="chart-item-two-list">
      <div  class="chart-item-two">
          <mat-icon (click)="viewFullScreen(1)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChartNhomLoi"  class="pie-chart" ></canvas>
        </div>
      </div>
  </div>
</div>
<div class="chart-container">
  <!-- Top sản phẩm nhiều lỗi nhất trong sx -->
  <div class="chart-list">
    <div class="chart-item-one"  *ngIf="labelTitle === true">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Top sản phẩm nhiều lỗi nhất trong sản xuất</b>
      <mat-icon  (click)="viewFullScreen(2)" class="fullScreenBtn">crop_free</mat-icon>
    </div>
    <div class="chart-item-two-list">
      <div id="myChartSPNhieuLoi-style" class="chart-item-two">
          <mat-icon (click)="viewFullScreen(2)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChartSPNhieuLoi"></canvas>
        </div>
      </div>
  </div>
  <!-- Tổng hợp chất lượng nhập hàng hoá -->
  <div class="chart-list">
    <div class="chart-item-one"  *ngIf="labelTitle === true">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Tổng hợp chất lượng nhập hàng hóa</b>
      <mat-icon  (click)="viewFullScreen(3)" class="fullScreenBtn">crop_free</mat-icon>
    </div>
    <div class="chart-item-two-list">
      <div  class="chart-item-two">
          <mat-icon (click)="viewFullScreen(3)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChartChatLuongNhap" class="pie-chart" style="height: 350px;
          width: 460px;"></canvas>
        </div>
      </div>
  </div>
</div>
<div class="chart-container">
  <!-- Tổng hợp tình trạng vật tư mua hàng -->
  <div class="chart-list" >
    <div class="chart-item-one"  *ngIf="labelTitle === true">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Tổng hợp tình trạng vật tư mua hàng</b>
      <mat-icon  (click)="viewFullScreen(4)" class="fullScreenBtn">crop_free</mat-icon>
    </div>
    <div class="chart-item-two-list">
      <div id="chartItemTwo" class="chart-item-two">
          <mat-icon (click)="viewFullScreen(4)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChartTTVatTu"></canvas>
        </div>
      </div>
  </div>

<!-- Thống kê chất lượng hàng mua -->
    <div class="chart-list">
    <div class="chart-item-one"  *ngIf="labelTitle === true">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Thống kê chất lượng hàng mua</b>
      <mat-icon  (click)="viewFullScreen(5)" class="fullScreenBtn">crop_free</mat-icon>
    </div>
    <div class="chart-item-two-list">
      <div  class="chart-item-two">
          <mat-icon (click)="viewFullScreen(5)" *ngIf="closeScreen === true">clear</mat-icon>
          <canvas id="myChartChatLuongHang" class="chart-item-two"></canvas>
        </div>
      </div>
    </div>
</div>


<div class="row input-container">
  <label for="">
    <h4>Đánh giá tổng thế chất lượng</h4>
  </label>
  <textarea type="text" id="textInput" class="inp-DGCL" maxlength="1000"
    placeholder="Đánh giá tổng thế chất lượng...."></textarea>
</div>
</div>
<button mat-fab extended class="search-time-btn btn-search-header" (click)="openPDF()">Export</button>
<canvas id="myChart1"></canvas>