<!-- <img src="../assets/img/logo_home.jpg" alt="logo" style="width: 100%;"> -->
<div class="search-time-container">
  <div class="search-time-list">
    <div class="search-time-item">
      <label class="form-label" for="start-time">Thời gian bắt đầu</label>
      <input class="form-control form-search" type="date" [(ngModel)]="startDate" id="startDate"
        [ngModelOptions]="{ standalone: true }" (change)="checkDate()">
    </div>

    <div class="search-time-item">
      <label class="form-label">Thời gian kết thúc</label>
      <input class="form-control form-search" type="date" [(ngModel)]="endDate" id="endDate"
        [ngModelOptions]="{ standalone: true }" (change)="checkDate()">
    </div>
  </div>
  <div class="search-time-list">
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn" (click)="getAllDataDashBoard()">
        <mat-icon>search</mat-icon>Find</button>
    </div>
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn" (click)="openPopupConfig()">
        <mat-icon>border_color</mat-icon>Config</button>
    </div>
    <div style="padding-top: 15px;">
      <button mat-fab extended class="search-time-btn" style="margin-right: 0;" (click)="openPopupReport()">
        <mat-icon>subject</mat-icon>Report</button>
    </div>
  </div>
</div>
<div class="search-container">
  <div class="search-list">
    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Đơn vị sản xuất</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="branchSearchKey" [ngModelOptions]="{ standalone: true }" (input)="OnBranchNameInputChange()">
          <mat-option *ngFor="let item of _branchList"
            (onSelectionChange)="onBranchNameChange(item.branchName,$event)">{{item.branchName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Tổ sản xuất</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="groupSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)">
          <mat-option *ngFor="let item of _groupList"
            (onSelectionChange)="onGroupNameChange(item.groupName,$event)">{{item.groupName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-item">
      <mat-form-field class="search-item-body">
        <mat-label>Mã sản phẩm</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="productCodeSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)">
          <mat-option *ngFor="let item of _productionCodeList"
            (onSelectionChange)="onGroupNameChange(item.productionCode,$event)">{{item.productionCode}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-item">
      <mat-form-field class="ten-san-pham">
        <mat-label>Tên sản phẩm</mat-label>
        <mat-select multiple>
          <input type="text" autocomplete="off" matInput placeholder="Seach by name ..." #multiUserSearch
            [(ngModel)]="productNameSearchKey" [ngModelOptions]="{ standalone: true }"
            (input)="OnGroupNameInputChange($event)">
          <mat-option *ngFor="let item of _productionNameList"
            (onSelectionChange)="onGroupNameChange(item.productionName,$event)">{{item.productionName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-fab extended style="background-color:#2196f3" (click)="testing()">
      <mat-icon>search</mat-icon>
      Tìm kiếm
    </button>
  </div>
</div>
<!-- popup config -->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupConfig===true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>Khai báo</h2>
      <span class="close-btn" (click)="closePopupConfig()">&times;</span>
    </div>
    <div class="popup-content">
      <form action="" class="form-popup-declare">
        <div>
          <h2>Tỉ lệ lỗi mục tiêu các bộ phận</h2>
          <table class=" table table-striped">
            <thead>
              <tr style="background-color: #006699">
                <th class="custom-column">Tên ngành</th>
                <th class="custom-column">Tỉ lệ % mục tiêu</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listOfNganh">
                <td><input type="text" name="tenNganh" class="form-control inp-colum-declare" value="{{data.tenNganh}}">
                </td>
                <td><input type="text" name="target" class="form-control inp-colum-declare" value="{{data.target}}">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h2>Mức độ cảnh báo tỉ lệ lỗi mua hàng vật tư</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="custom-column">Mục tiêu</th>
                <th class="custom-column">Tỉ lệ % lỗi MIN</th>
                <th class="custom-column">Tỉ lệ % lỗi MAX</th>
                <th class="custom-column">Chọn màu</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listOfTarget">
                <td><input type="text" name="nameTarget" class="form-control inp-colum-declare"
                    value="{{data.nameTarget}}"></td>
                <td><input type="text" name="targetMin" class="form-control inp-colum-declare"
                    value="{{data.targetMin}}"></td>
                <td><input type="text" name="targetMax" class="form-control inp-colum-declare"
                    value="{{data.targetMax}}"></td>
                <td>
                  <select value="" class="form-control inp-colum-declare">
                    <option name="" id="">Xanh</option>
                    <option name="" id="">Vàng</option>
                    <option name="" id="">Đỏ</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <button class="btn-save">Lưu</button>
      <button class="btn-cancel">Huỷ</button>
    </div>
  </div>
</div>

<!-- popup Report -->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupReport === true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>View List Report</h2>
      <span class="close-btn" (click)="closePopupReport()">&times;</span>
    </div>
    <div class="popup-content">
      <form action="">
        <table class=" table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <span>STT</span>
              </th>
              <th scope="col">
                <span>Thời gian chạy báo cáo</span>
              </th>
              <th scope="col">
                <span>Người chạy</span>
              </th>
              <th scope="col">
                <span>Nhận xét</span>
              </th>
              <th scope="col">
                <span>Trạng thái</span>
              </th>
              <th scope="col">
                <span>Option</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i = index; let data of listOfReport">
              <td>{{i+1}}</td>
              <td>{{data.timeReport}}</td>
              <td>{{data.user}}</td>
              <td>{{data.comment}}</td>
              <td>{{data.status}}</td>
              <td><button class="btn-view">View</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<table style="width: 100%;">
  <thead class="table-header">
    <tr>
      <th class="header-parent" colspan="4">thông tin chất lượng sản phẩm</th>
      <th class="header-parent" colspan="4">thông tin chất lượng bán thành phẩm</th>
      <th class="header-parent" colspan="2">tình trạng phê duyệt</th>
      <th class="header-parent" colspan="3">đánh giá chất lượng</th>
    </tr>
    <tr>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số lượng nhập kho</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số lượng không đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Tỉ lệ sản phẩm đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Tỉ lệ lỗi quá trình</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số lượng nhập kho</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số lượng không đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Tỉ lệ sản phẩm đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Tỉ lệ lỗi quá trình</th>
      <th style="width: 5rem; border: 0.5px solid black">Chờ phê duyệt lệnh sản xuất</th>
      <th style="width: 5rem; border: 0.5px solid black">Chờ phê duyệt BB KT</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lô kiểm tra</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lô không đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lô nhân nhượng</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td style="border: 0.5px solid black">{{tongSlSpNhapKho}}</td>
      <td style="border: 0.5px solid black">{{tongSlSpKhongDat}}</td>
      <td style="border: 0.5px solid black">{{tiLeSpDat}}%</td>
      <td style="border: 0.5px solid black">{{tiLeSpLoiQuaTrinh}}%</td>
      <td style="border: 0.5px solid black">{{tongSlBTPNhapKho}}</td>
      <td style="border: 0.5px solid black">{{tongSlBTPKhongDat}}</td>
      <td style="border: 0.5px solid black">{{tiLeBTPDat}}%</td>
      <td style="border: 0.5px solid black">{{tiLeBTPLoiQuaTrinh}}%</td>
      <td style="border: 0.5px solid black">{{choPheDuyetLenhSX}}</td>
      <td style="border: 0.5px solid black">{{choPheDuyetBBKT}}</td>
      <td style="border: 0.5px solid black">{{soLoKT}}</td>
      <td style="border: 0.5px solid black">{{soLoKhongDat}}</td>
      <td style="border: 0.5px solid black">{{soLoNhanNhuong}}</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table style="width: 100%;">
  <thead class="table-header">
    <tr>
      <th class="header-parent" colspan="5">chất lượng vật tư</th>
      <th class="header-parent" colspan="2">mua hàng</th>
      <th class="header-parent" colspan="4">đánh giá thông số sản phẩm</th>
      <th class="header-parent" colspan="4">đánh giá thông số btp driver</th>
    </tr>
    <tr>
      <th style="width: 5rem; border: 0.5px solid black">Số lượng nhập hàng</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lượng đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lượng không đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Số lượng nhân nhượng</th>
      <th style="width: 5rem; border: 0.5px solid black">Tỉ lệ lỗi vật tư trong QTSX</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số NCC</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số biên bản IQC</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số mẫu đo</th>
      <th style="width: 5rem; border: 0.5px solid black">Số mẫu đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">% Đạt thông số</th>
      <th style="width: 5rem; border: 0.5px solid black">Số mẫu không đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">Tổng số mẫu đo</th>
      <th style="width: 5rem; border: 0.5px solid black">Số mẫu đạt</th>
      <th style="width: 5rem; border: 0.5px solid black">% Đạt thông số</th>
      <th style="width: 5rem; border: 0.5px solid black">Số mẫu không đạt</th>

    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td style="border: 0.5px solid black">{{slVatTuNhap}}</td>
      <td style="border: 0.5px solid black">{{slVatTuDat}}</td>
      <td style="border: 0.5px solid black">{{slVatTuKhongDat}}</td>
      <td style="border: 0.5px solid black">{{slVatTuNhanNhuong}}</td>
      <td style="border: 0.5px solid black">{{tiLeLoiVatTuQTSX}}%</td>
      <td style="border: 0.5px solid black">{{tongSoNCC}}</td>
      <td style="border: 0.5px solid black">{{tongSoBienBanIQC}}</td>
      <td style="border: 0.5px solid black">{{tongSoMauDoSP}}</td>
      <td style="border: 0.5px solid black">{{soMauSPDat}}</td>
      <td style="border: 0.5px solid black">{{tiLeSPDatThongSo}}%</td>
      <td style="border: 0.5px solid black">{{soMauSPKhongDat}}</td>
      <td style="border: 0.5px solid black">{{tongSoMauDoBTPDrv}}</td>
      <td style="border: 0.5px solid black">{{soMauBTPDrvDat}}</td>
      <td style="border: 0.5px solid black">{{tiLeBTPDrvDatThongSo}}%</td>
      <td style="border: 0.5px solid black">{{soMauBTPDrvKhongDat}}</td>

    </tr>
  </tbody>
</table>


<!-- ----------------------------------------------- chart -------------------------------------------- -->
<div class="chart-container">
  <!-- column 1 -->
  <!-- Tỉ lệ lỗi các bộ phận SX so với mục tiêu -->
  <div class="chart-list">
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Tỉ lệ lỗi các bộ phận sản xuất/Mục tiêu</b></div>
      <div class="chart-item-two-list">
        <div  class="chart-item-two">
          <canvas id="myChart" ></canvas>
        </div>
      </div>
  </div>

  <!-- Phân tích nhóm lỗi trong sx -->
  <div class="chart-list">
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Phân tích nhóm lỗi trong sản xuất</b></div>
      <div class="chart-item-two-list">
        <div  class="chart-item-two">
          <canvas id="myChartNhomLoi"  class="pie-chart" ></canvas>
        </div>
      </div>
  </div>
</div>
<div class="chart-container">
  <!-- Top sản phẩm nhiều lỗi nhất trong sx -->
  <div class="chart-list">
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Top sản phẩm nhiều lỗi nhất trong sản xuất</b></div>
      <div class="chart-item-two-list">
        <div  class="chart-item-two">
          <canvas id="myChartSPNhieuLoi"></canvas>
        </div>
      </div>
  </div>
  <!-- Tổng hợp chất lượng nhập hàng hoá -->
  <div class="chart-list">
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Tổng hợp chất lượng nhập hàng hóa</b></div>
      <div class="chart-item-two-list">
        <div  class="chart-item-two">
          <canvas id="myChartChatLuongNhap" class="pie-chart"></canvas>
        </div>
      </div>
  </div>
</div>
<div class="chart-container">
  <!-- Tổng hợp tình trạng vật tư mua hàng -->
  <div class="chart-list" >
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Tổng hợp tình trạng vật tư mua hàng</b></div>
      <div class="chart-item-two-list">
        <div id="chartItemTwo" class="chart-item-two">
          <canvas id="myChartTTVatTu"></canvas>
        </div>
      </div>
  </div>

<!-- Thống kê chất lượng hàng mua -->
    <div class="chart-list">
    <div class="chart-item-one">
      <mat-icon> bar_chart</mat-icon>
      <b style="margin-top: 3px">Thống kê chất lượng hàng mua</b></div>
      <div class="chart-item-two-list">
        <div  class="chart-item-two">
          <canvas id="myChartChatLuongHang" class="chart-item-two"></canvas>
        </div>
      </div>
    </div>
</div>


<div class="row input-container">
  <label for="">
    <h4>Đánh giá tổng thế chất lượng</h4>
  </label>
  <textarea type="text" id="textInput" class="inp-DGCL" maxlength="1000"
    placeholder="Đánh giá tổng thế chất lượng...."></textarea>
</div>

<button class="btn-export">Export</button>