.tables {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tables thead tr {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.tables th,
.tables td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  border-right: 1px solid #ddd;
}

.tables th:last-child,
.tables td:last-child {
  border-right: none;
}

.tables th {
  background-color: #fafafa;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.tables tbody tr:nth-child(even) {
  background-color: #d3eefc;
}

.tables tbody tr:hover {
  background-color: #f1f1f1;
}

.tables tbody td {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.tables tbody td span {
  display: block;
}

.tables input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.tables input:focus {
  outline: none;
  border-color: #aaa;
}

.tables input:hover {
  border-color: #aaa;
}

.close-popup {
  margin-top: 2%;
  margin-left: 98%;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-popup:hover {
  color: #ff0000;
}

.header-title {
  margin-left: 10px;
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
}

.flex-item {
  display: flex;
  justify-content: space-around;
}

.input-errors {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input-errors:focus {
  border-color: #6871f1;
  outline: none;
}

.btn-success {
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #0bb5e0;
}

.column-table-check-nvl {
  margin-right: 8px;
}

.text-center {
  width: 13%
}

.set-color-background {
  background-color: #dddddd;
  border: #dddddd solid 1px;
}