<div *ngIf="lstview; else elseBlock1">


  <h2>Danh sách biên bản chờ phê duyệt</h2>
  <form name="form" (ngSubmit)="f.form.valid && refreshExamination()" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Tên nguyên vật liệu</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="formSearch.name" #name="ngModel"
            placeholder="Tên nguyên vật liệu" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Mã NVL</label>
          <input type="text" class="form-control" name="code" [(ngModel)]="formSearch.code" #name="ngModel"
            placeholder="Mã nguyên vật liệu" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Mã biên bản</label>
          <input type="text" class="form-control" name="reportCode" [(ngModel)]="formSearch.reportCode" #name="ngModel"
            placeholder="Mã biên bản" />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Số hóa đơn</label>
          <input type="text" class="form-control" name="invoiceNumber" [(ngModel)]="formSearch.invoiceNumber"
            #name="ngModel" placeholder="Số hóa đơn" />
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label>Từ ngày</label>
          <input type="date" class="form-control" name="startDate" [(ngModel)]="formSearch.startDate" #name="ngModel"
            placeholder="Từ ngày" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Tới ngày</label>
          <input type="date" class="form-control" name="endDate" [(ngModel)]="formSearch.endDate" #name="ngModel"
            placeholder="Tới ngày" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Trạng thái</label>
          <select class="form-control" name="type" [(ngModel)]="formSearch.status" #type="ngModel">
            <option value="WAIT_APPROVE">Chờ duyệt</option>
            <option value="APPROVE">Đã duyệt</option>
            <option value="CONCESSIONS">Nhân nhượng</option>
            <option value="REJECT">Từ chối</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Loại hàng</label>
          <select class="form-control" name="itemType" [(ngModel)]="formSearch.itemType" #type="ngModel">
            <option value="">Tất cả</option>
            <option value="Hàng nhập">Hàng nhập</option>
            <option value="Hàng mẫu">Hàng mẫu</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Loại biên bản</label>
          <select class="form-control" name="type" [(ngModel)]="formSearch.type" #type="ngModel">
            <option value="">Tất cả</option>
            <option value="1">NVL/BTP/TP</option>
            <option value="2">LKDT/BTP</option>
          </select>
        </div>
      </div>


      <div class="col-md-2">
        <div class="form-group" style="line-height: 70px;">
          <button class="btn btn-primary " type="submit">
            <i class="fa fa-search"></i> Tìm kiếm
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="card-body">
    <div class=" table-responsive">
      <nz-table #basicTable nzBordered [nzPageSize]="10" nzShowSizeChanger [nzFrontPagination]="false"
        [nzData]="auditnvl" [nzTotal]="collectionSize" [(nzPageIndex)]="page" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="refreshExamination()" (nzPageSizeChange)="refreshExamination()">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mã biên bản</th>
            <th>Loại hàng</th>
            <th>Loại biên bản</th>
            <th scope="col">Tên linh kiện</th>
            <th scope="col">Ngày thực hiện</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Mã linh kiện</th>
            <th scope="col">Số lô</th>
            <th>Nhận xét</th>
            <th scope="col">Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let audit of auditnvl; let i = index;">
            <td scope="row">{{ i+1 }}</td>
            <td>{{ audit.reportCode}}</td>
            <td>
              {{audit.itemType}}
            </td>
            <td>
              {{audit.type ==1 ? 'NVL/BTP/TP': 'LKDT/BTP'}}
            </td>
            <td>
              {{ audit.electCompName }}
            </td>
            <td>
              {{ audit.createdAt | date:'dd/MM/YYYY HH:mm'}}
            </td>
            <td>
              <p *ngIf="audit.status =='REJECT'"> Từ chối</p>
              <p *ngIf="audit.status =='WAIT_APPROVE'"> Chờ duyệt </p>
              <p *ngIf="audit.status =='APPROVE'"> Đã duyệt </p>
            </td>
            <td>{{ audit.elecCompCode}}</td>
            <td>{{ audit.batchNumber}}</td>
            <td>{{ audit.approveNote}}</td>

            <td class="text-center">

              <button *ngIf="audit.status == 'WAIT_APPROVE'" style="margin-right: 10px;" class="btn btn-sm btn-primary"
                routerLink="/iqc/check-approve/{{audit.id}}/approve">
                <i class="fa fa-check"></i> Phê duyệt
              </button>
              <button style="margin-right: 10px;" class="btn btn-sm btn-info"
                routerLink="/iqc/check-approve/{{audit.id}}/show">
                <i class="fa fa-eye"></i>
              </button>

              <button class="btn btn-sm btn-success" (click)="report(audit.id,audit.type,audit.reportCode)"
                title="File biên bản"><i class="fa fa-download"></i></button>


          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<ng-template #elseBlock1>
  <!-- Basic Form Inputs card start -->
  <div>
    <h2>Phê duyệt biên bản kiểm tra NVL/BTP/TP</h2>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div *ngIf="error" class="{{ classError }}" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 0">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 pt-3 pb-3"  *ngIf="typeAction == 'show' && (form.status =='APPROVE' || form.status =='REJECT'||form.status =='CONCESSIONS' || form.status =='WAIT_APPROVE')">
          <div class="row">
            <h2>Thông tin phê duyệt</h2>
            <div class="col-xs-6 col-sm-6">
              <label>Nhận xét</label>
              <input type="text"  readonly="true" class="form-control" placeholder="Tên linh kiện" name="templateCode"
                [(ngModel)]="form.approveNote"/>
            </div>
            <div class="col-xs-6 col-sm-6">
              <label>Kết luận</label>
              <input type="text" readonly="true" class="form-control" placeholder="Kết luận" name="statusStr" value="{{statusStr}}"
                [(ngModel)]="statusStr"/>
            </div>
          </div>
        </div>

        <form name="form" (ngSubmit)="(f.form.valid)" #f="ngForm">
          <h2>Thông tin kiểm tra</h2>
          <div class="row">
            <div class="col-sm-4">
              <label>Mẫu biên bản</label>
              <input type="text" readonly class="form-control" placeholder="Tên linh kiện" name="templateCode"
                [(ngModel)]="form.templateCode" />
            </div>
            <div class="col-sm-4">
              <label>Số biên bản</label>
              <input type="text" readonly class="form-control" placeholder="Số biên bản" name="reportCode"
                [(ngModel)]="form.reportCode" />
            </div>
            <div class="col-sm-4">
              <label>Loại hàng</label>
              <select class="form-control" name="itemType" [(ngModel)]="form.itemType" #type="ngModel" readonly>
                <option value="Hàng nhập">Hàng nhập</option>
                <option value="Hàng mẫu">Hàng mẫu</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Mã linh kiện</label>
              <input type="text" readonly class="form-control" placeholder="Mã linh kiện" name="elecCompCode"
                [(ngModel)]="form.elecCompCode" />
            </div>
            <div class="col-sm-4">
              <label>Tên linh kiện</label>
              <input type="text" readonly class="form-control" placeholder="Tên linh kiện" name="electCompName"
                [(ngModel)]="form.electCompName" />
            </div>
            <div class="col-sm-4">
              <label>Số lượng theo PO</label>
              <input type="text" readonly class="form-control" placeholder="Số lượng theo PO" name="poQuantity"
                [(ngModel)]="form.poQuantity" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Số lô (cách nhau bởi dấu phẩy)</label>
              <input type="text" readonly class="form-control" placeholder="Số lô" name="batchNumber"
                [(ngModel)]="form.batchNumber" />
            </div>

            <div class="col-sm-4">
              <mat-form-field appearance="fill" style="margin-top: 10px; width: 100%">
                <mat-label>Ngày nhận hàng</mat-label>
                <!-- #docregion toggle -->
                <input matInput [matDatepicker]="importDate" class="form-control" name="importDate"
                  [(ngModel)]="form.importDate" />
                <mat-datepicker-toggle matSuffix [for]="importDate"></mat-datepicker-toggle>
                <mat-datepicker #importDate></mat-datepicker>
                <!-- #enddocregion toggle -->
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-form-field appearance="fill" style="margin-top: 10px; width: 100%">
                <mat-label>Ngày kiểm</mat-label>
                <!-- #docregion toggle -->
                <input matInput [matDatepicker]="checkDate" class="form-control" name="checkDate"
                  [(ngModel)]="form.checkDate" />
                <mat-datepicker-toggle matSuffix [for]="checkDate"></mat-datepicker-toggle>
                <mat-datepicker #checkDate></mat-datepicker>
                <!-- #enddocregion toggle -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Số hóa đơn</label>
              <input type="text" readonly class="form-control" placeholder="Số hóa đơn" name="invoiceNumber"
                [(ngModel)]="form.invoiceNumber" />
            </div>
            <div class="col-sm-4">
              <label>Xuất xứ</label>
              <input type="text" readonly class="form-control" placeholder="Xuất xứ" name="origin"
                [(ngModel)]="form.origin" />
            </div>
            <div class="col-sm-4">
              <label>GRPO</label>
              <input type="text" readonly class="form-control" placeholder="GRPO" name="grpoNumber"
                [(ngModel)]="form.grpoNumber" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label>Số lượng kiểm tra</label>
              <input type="number" class="form-control" placeholder="Số lượng" readonly name="checkingQuantity"
                [(ngModel)]="form.checkingQuantity" />
            </div>
            <div class="col-sm-4">
              <label>Lập phiếu SPKPH</label>
              <input type="text" readonly class="form-control" placeholder="SPKPH" name="spkphNumber"
                [(ngModel)]="form.spkphNumber" />
            </div>
            <div class="col-sm-4">
              <label>Kết luận</label>

              <select class="form-control" name="conclusion" [(ngModel)]="form.conclusion" #type="ngModel" readonly>
                <option value="Đạt nhập kho">Đạt nhập kho</option>
                <option value="Không đạt trả về">Không đạt trả về</option>
                <option value="Nhập kho nhân nhượng">Nhập kho nhân nhượng</option>
              </select>
            </div>
          </div>

          <!-- thong tin kiem tra nvl -->
          <div *ngIf="form.type == 1 ; else blockptp">
            <div class="table-responsive">
              <div class="deleteErrorRowtn-group pb-3 pt-3">
                <button class="btn btn-success" (click)="open(myModalError)">
                  <i class="fa fa-plus"></i> Thông tin lỗi
                </button>
              </div>
              <nz-table #borderedTable nzBordered nzTitle="Thông tin tiêu chí" [nzData]="lstAuditCriteriaNvl"
                [nzFrontPagination]="false">
                <thead>
                  <tr>
                    <th colspan="2">Chỉ tiêu kiểm tra</th>
                    <th colspan="3">Yêu cầu</th>
                    <th rowspan="2" style="line-height: 65px">Nội dung lưu ý</th>
                    <th rowspan="2" style="line-height: 65px">Yêu cầu khác</th>
                    <th rowspan="2" style="line-height: 65px">Số lượng</th>
                    <th colspan="2">Kết quả kiểm tra</th>
                    <th rowspan="2" style="line-height: 65px">Đánh giá</th>
                    <th rowspan="2" style="line-height: 65px">Ghi chú</th>
                  </tr>
                  <tr>
                    <th>Tiêu chí</th>
                    <th>Mức quy định</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Đơn vị</th>
                    <th>Min</th>
                    <th>Max</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let audit of lstAuditCriteriaNvl let i=index">
                    <td>
                      {{ audit.criteriaName }}
                      <input type="hidden" name="auditCriteriaId" [(ngModel)]="audit.auditCriteriaId" />
                    </td>
                    <td>{{ audit.regulationLevel }}</td>
                    <td>{{ audit.minAudit | number }}</td>
                    <td>{{ audit.maxAudit | number }}</td>
                    <td>{{ audit.unitAudit }}</td>
                    <td>{{ audit.noteAudit }}</td>
                    <td>
                      <input type="text" readonly placeholder="Yêu cầu khác" class="form-control"
                        name="{{ 'ortherRequerement['+i+']' }}" [(ngModel)]="audit.ortherRequerement" />
                    </td>
                    <td>
                      <input type="text" readonly placeholder="Số lượng" class="form-control"
                        name="{{ 'quantity['+i+']' }}" [(ngModel)]="audit.quantity" />
                    </td>
                    <td>
                      <input type="text" readonly placeholder="min" class="form-control" name="{{ 'min['+i+']' }}"
                        [(ngModel)]="audit.min" />
                    </td>
                    <td>
                      <input type="text" readonly placeholder="max" class="form-control" name="{{ 'max['+i+']' }}"
                        [(ngModel)]="audit.max" />
                    </td>
                    <td>
                      <select class="form-control" name="{{ 'checkResult['+i+']' }}" [(ngModel)]="audit.checkResult"
                        readonly #type="ngModel">
                        <option value="Đạt">Đạt</option>
                        <option value="Không đạt">Không đạt</option>
                        <option value="Nhân nhượng">Nhân nhượng</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" readonly placeholder="Ghi chú" class="form-control" name="{{ 'note['+i+']' }}"
                        [(ngModel)]="audit.note" />
                    </td>

                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>

          <ng-template #blockptp>
            <div class="table-responsive">
              <div class="float-right btn-group pt-3 pb-3">
                <button class="btn  btn-danger" (click)="open(myModalError)"><i class="fa fa-plus"></i>
                  <span *ngIf=" typeAction == 'edit' || typeAction =='add'; else show ">Thông tin lỗi</span>
                  <ng-template #show>Thông tin lỗi</ng-template>
                </button>
              </div>

              <nz-table #borderedTable nzBordered nzTitle="Thông tin tiêu chí" [nzData]="['']"
                [nzFrontPagination]="false">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Chỉ tiêu kiểm tra</th>
                    <th>Mức quy định</th>
                    <th>Yêu cầu kỹ thuật</th>
                    <th>Số lượng</th>
                    <th>Sai số thực tế</th>
                    <th style="width: 190px;">Đánh giá</th>
                    <th>Nội dung đánh giá</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let auditLKDT of lstAuditCriteriaLKDT;let i = index;">
                    <td>{{ i +1 }}</td>
                    <td>{{ auditLKDT.auditContent }}</td>
                    <td>{{ auditLKDT.regulationLevel }}</td>
                    <td>{{ auditLKDT.technicalRequirement}}</td>
                    <td>
                      <input type="text" placeholder="Số lượng" class="form-control" name="auditQuantity[{{i}}]"
                        [(ngModel)]="auditLKDT.auditQuantity">

                    </td>
                    <td>
                      <input type="text" placeholder="Sai số" class="form-control" name="inaccuracy[{{i}}]"
                        [(ngModel)]="auditLKDT.inaccuracy">
                    </td>
                    <td>
                      <select class="form-control" name="checkResult[{{i}}]" [(ngModel)]="auditLKDT.checkResult"
                        #type="ngModel">
                        <option value="Đạt">Đạt</option>
                        <option value="Không đạt">Không đạt</option>
                        <option value="Nhân nhượng">Nhân nhượng</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" placeholder="Ghi chú" class="form-control" name="checkContent[{{i}}]"
                        [(ngModel)]="auditLKDT.checkContent">
                    </td>
                  </tr>
                </tbody>
              </nz-table>

              <nz-table #borderedTable nzBordered nzTitle="Thông tin tiêu chí" [nzData]="['']"
                [nzFrontPagination]="false">
                <thead>
                  <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">Thông số</th>
                    <th rowspan="2">Điều kiện</th>
                    <th colspan="3">Tiêu chuẩn</th>
                    <th rowspan="2">Q Trung bình</th>
                    <th rowspan="2">Số lượng</th>
                    <th rowspan="2">Min</th>
                    <th rowspan="2">Max</th>
                    <th rowspan="2">Trung bình</th>
                    <th rowspan="2">S</th>
                    <th rowspan="2">KU</th>
                    <th rowspan="2">KL</th>
                    <th rowspan="2">KMin</th>
                    <th rowspan="2">CPK up</th>
                    <th rowspan="2">CPK Low</th>
                    <th rowspan="2">CPK</th>
                    <th rowspan="2">Đánh giá</th>
                    <th rowspan="2">Nội dung</th>
                    <th rowspan="2">Tùy chọn</th>
                  </tr>
                  <tr>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Đơn vị</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let auditLKDT of lstAuditCriteriaParam;let i = index;">
                    <td>{{ i +1}}</td>
                    <td>{{ auditLKDT.parameterName }}</td>
                    <td>{{ auditLKDT.conditions }}</td>
                    <td>{{ auditLKDT.min | number }}</td>
                    <td>{{ auditLKDT.max | number }}</td>
                    <td>{{ auditLKDT.unit }}</td>
                    <td>
                      <input type="text" placeholder="Q trung bình" class="form-control" name="auditQAvg[{{i}}]"
                        [(ngModel)]="auditLKDT.auditQAvg">
                    </td>
                    <td>
                      <input type="text" placeholder="Số lượng" class="form-control" name="quantity[{{i}}]"
                        [(ngModel)]="auditLKDT.quantity">
                    </td>

                    <td>
                      <input type="text" placeholder="Min" class="form-control" name="minAudit{{i}}]"
                        [(ngModel)]="auditLKDT.minAudit">
                    </td>

                    <td>
                      <input type="text" placeholder="Max" class="form-control" name="maxAudit{{i}}]"
                        [(ngModel)]="auditLKDT.maxAudit">
                    </td>

                    <td>
                      <input type="text" placeholder="Trung bình" class="form-control" name="avgResult[{{i}}]"
                        [(ngModel)]="auditLKDT.avgResult">
                    </td>

                    <td>
                      <input type="text" placeholder="S" class="form-control" name="s[{{i}}]" [(ngModel)]="auditLKDT.s">
                    </td>
                    <td>
                      <input type="text" placeholder="KU" class="form-control" name="ku[{{i}}]"
                        [(ngModel)]="auditLKDT.ku">
                    </td>
                    <td>
                      <input type="text" placeholder="KL" class="form-control" name="kl[{{i}}]"
                        [(ngModel)]="auditLKDT.kl">
                    </td>

                    <td>
                      <input type="text" placeholder="Kmin" class="form-control" name="kmin[{{i}}]"
                        [(ngModel)]="auditLKDT.kmin">
                    </td>
                    <td>
                      <input type="text" placeholder="CPK up" class="form-control" name="cpkUp[{{i}}]"
                        [(ngModel)]="auditLKDT.cpkUp">
                    </td>
                    <td>
                      <input type="text" placeholder="CPK Low" class="form-control" name="cpkLow[{{i}}]"
                        [(ngModel)]="auditLKDT.cpkLow">
                    </td>
                    <td>
                      <input type="text" placeholder="CPK" class="form-control" name="cpk[{{i}}]"
                        [(ngModel)]="auditLKDT.cpk">
                    </td>

                    <td>
                      <select class="form-control" name="checkResult[{{i}}]" [(ngModel)]="auditLKDT.checkResult"
                        #type="ngModel">
                        <option value="Đạt">Đạt</option>
                        <option value="Không đạt">Không đạt</option>
                        <option value="Nhân nhượng">Nhân nhượng</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" placeholder="Ghi chú" class="form-control" name="content[{{i}}]"
                        [(ngModel)]="auditLKDT.content">
                    </td>

                    <td>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </ng-template>

          <div class="form-group">
            <button class="btn btn-info m-2" routerLink="/iqc/check-approve">
              <i class="fa fa-list"></i> Danh sách
            </button>

            <button class="btn btn-success" (click)="open(myModalApprove)" *ngIf="typeAction =='approve' ">
              <i class="fa fa-check"></i> Phê duyệt
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-template>


<!-- thong tin kiem tra nvl -->
<ng-template #myModalError let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Khai báo lỗi</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Loại lỗi</th>
        <th>Tên lỗi</th>
        <th>Số lượng</th>
        <th>Tỷ lệ lỗi</th>
        <th>Ghi chú</th>
      </tr>

      <tr *ngFor="let error of arrErrChild let i=index">
        <td>{{ i+1 }}</td>
        <td>{{ error.errGroup }}</td>
        <td>{{ error.errName }}</td>
        <td>{{ error.quantity }}</td>
        <td>{{ error.ratio }}</td>
        <td>{{ error.note }}</td>

      </tr>
    </table>
  </div>
</ng-template>


<ng-template #myModalApprove let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Phê duyệt yêu cầu</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <textarea class="form-control" name="note" [(ngModel)]="formApprove.note" placeholder="Ghi chú"
      #description="ngModel"></textarea>


    <div class="col-md-12" style="margin-top: 50px;">
      <button class="btn btn-success" type="submit" style="margin-left: 30px;" (click)="onSubmitApprove('APPROVE')">
        <i class="fa fa-check"></i>
        Phê duyệt
      </button>

      <button class="btn btn-primary" type="submit" style="margin-left: 30px;" (click)="onSubmitApprove('CONCESSIONS')">
        <i class="fa fa-save"></i>
        Nhân nhượng
      </button>

      <button class="btn btn-warning" type="submit" style="margin-left: 30px;" (click)="onSubmitApprove('REJECT')">
        <i class="fa fa-check"></i>
        Từ chối
      </button>
    </div>

  </div>
</ng-template>
