.filter-container {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  margin: 20px 0;
}

.filter-group {
  display: flex;
}

.input-tag {
  margin-right: 50px;
  width: 250px;
  font-size: 19px;
}

.input-tag input,
.input-tag select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.button-group {
  display: inline-flex;
  justify-content: space-between;
  width: 18%;
}

.create-btn {
  background: #0d6efd;
  color: #fff;
  width: 122px;
  text-align: center;
  padding: 6px 0;
  height: 34px;
  margin-top: 11px;
  border-radius: 9px;
  border: none;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn:hover {
  background-color: #0056b3;
}

.create-btn i {
  margin-right: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;

  thead {
    tr {
      background-color: #f2f2f2;
      border-bottom: 2px solid #ddd;
    }

    th {
      padding: 12px 15px;
      cursor: pointer;
      position: relative;
      background-color: #fafafa;
      border: 0.5px solid #dee2e6;
      text-align: center;
      /* &:hover {
          background-color: #6fbfe7;
        } */

      span {
        font-weight: bold;
        display: block;
      }

      input {
        width: 100%;
        padding: 8px 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: #aaa;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #d3eefc;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }

    td {
      width: 175px;
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
      border: 0.8px solid #dee2e6;
      font-size: 16px;
      font-weight: 400;
      text-align: center;

      &:last-child {
        text-align: center;
      }
    }
  }
}


/* table */
.table-scroll {
  overflow: auto;
  height: 600px;
}

.frozen-header {
  position: sticky;
  top: 0;
}

.frozen-column {
  position: sticky;
  top: 0;
}

.trang-thai {
  width: 100px;
  text-align: center;
  border-radius: 20px;
}

.paginate {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-selects {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.pagination {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.pagination:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagenumber {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 14px;
  cursor: default;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1200px;
  z-index: 1000;
}

.close-popup {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.popup-title {
  margin-left: 10px;
  font-size: 19px;
  font-weight: bold;
}

.popup-content {
  margin-top: 20px;
  margin-left: 40px;
}

.input-group {
  margin-top: 20px;
}

.input-tag {
  margin-bottom: 20px;
  font-size: 19px;
}

.input-tag input,
.input-tag select,
.input-tag textarea {
  width: 98%;
  font-size: 19px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.input-tag textarea {
  height: 70px;
  width: 1000px;
}

.checkbox-group {
  display: flex;
  margin-top: 20px;
}

.checkbox-group div {
  font-size: 19px;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 250px;
  display: flex;
  align-items: center;
}

.inputs {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #0d6efd;
}

.checkbox-group div:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 5px;
}

.btn-save {
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-save i {
  margin-right: 5px;
}

.popup1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1100px;
  z-index: 1000;
}

.close-popup {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: 98%;
  margin-left: 15px;
}

.table-container {
  width: 99%;
  margin-left: 7px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;
  font-size: 16px;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-scroll {
  overflow: auto;
  height: 324px;
}

.btn-save {
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-save i {
  margin-right: 5px;
}
