<div *ngIf="lstview; else elseBlock1">
  <app-pqc-show-list item_type="MOUNT_COMPONENTS"></app-pqc-show-list>
</div>

<ng-template #elseBlock1>
  <div>
    <h2 class="card-title">Chi tiết thông tin kiểm tra gắn linh kiện</h2>
    <div class="card-body">
      <form name="form" (ngSubmit)="(f.form.valid)" #f="ngForm">
        <pqc-show-work-order show_check="{{show_check}}" *ngIf="show_work_order" item_id="{{ idWorkOrder }}"
          item_type="MOUNT_COMPONENTS"></pqc-show-work-order>
        <div class="form-group row">
          <div class="col-sm-12 table-responsive">
            <div class="float-right btn-group" style="margin-bottom: 10px" *ngIf="show_work_order">
              <button class="btn btn-success" (click)="open(myModal, '')">
                Thêm thông tin kiểm tra
              </button>
            </div>

            <nz-table #borderedTable nzBordered nzTitle="Thông tin kiểm tra" [nzData]="['']"
              [nzFrontPagination]="false">
              <thead>
                <tr>
                  <th>Dây chuyền sx</th>
                  <th>Tên máy</th>
                  <th>Người kiểm tra</th>
                  <th>Người vận hành</th>
                  <th>Thời gian kiểm tra</th>
                  <th>Số lượng ktra</th>
                  <th>Tổng lỗi</th>
                  <th>Kết luận</th>
                  <th>Ghi chú</th>
                  <th>Thời gian tạo</th>
                  <th>Thời gian cập nhật</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let check of lstmountCompCheck; let i = index">
                  <td>{{ check.line }}</td>
                  <td>{{ check.machineName }}</td>
                  <td>{{ check.checkPerson }}</td>
                  <td>{{ check.operators }}</td>
                  <td>{{ check.checkTime }}</td>
                  <td>{{ check.quatity }}</td>
                  <td>{{ check.errTotal }}</td>
                  <td>{{ check.conclude }}</td>
                  <td>{{ check.note }}</td>
                  <td>{{ check.createdAt |date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ check.updatedAt |date:'dd/MM/yyyy HH:mm' }}</td>
                  <td>
                    <div class="btn-group btn-group-toggle">
                      <button (click)="open(myModalError, check.ids)" class="btn btn-primary btn-sm"
                        title="Thêm thông tin lỗi">
                        <i class="fa fa-check"></i>
                      </button>
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="deleteCheck(check.ids)"
                        *ngIf="show_work_order">
                        <i class="fa fa-trash"></i>
                      </button>

                      <button class="btn btn-sm btn-primary" title="Sửa" (click)="open(myModal, check.ids)"
                        *ngIf="show_work_order">
                        Sửa
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>

        <app-button-success item_type="MOUNT_COMPONENTS" show_work_order="{{show_work_order}}"></app-button-success>


        <!-- <div class="col-xs-12 col-sm-12">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 0;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div> -->
      </form>
    </div>
  </div>

  <ng-template #myModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Thêm thông tin kiểm tra
      </h4>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 0"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="form" (ngSubmit)="(f.form.valid)" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <!-- <label>Dây chuyền sản xuất</label>
              <select [(ngModel)]="formEx.line" class="form-control" name="line">
                <option *ngFor="let machine of lstProductionLine" value="{{ machine.name }}">
                  {{ machine.name }}
                </option>
              </select> -->
              <mat-form-field class="example-full-width" appearance="fill" style="width:100%;line-height: 30px;">
                <mat-label>Dây chuyền sản xuất</mat-label>
                <input type="text" [(ngModel)]="formEx.line" name="line" placeholder="Dây chuyền sản xuất"
                  aria-label="Dây chuyền sản xuất" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="fill" style="width:100%;line-height: 30px;">
                <mat-label>Máy sản xuất</mat-label>
                <input matInput [(ngModel)]="formEx.machineName" name="line" placeholder="Máy sản xuất" required
                  aria-label="Máy sản xuất" matInput [formControl]="maChineControl" [matAutocomplete]="autoMachine">
                <mat-autocomplete #autoMachine="matAutocomplete">
                  <mat-option *ngFor="let option of filteredMachine | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Thời gian kiểm tra</label>
              <input [(ngModel)]="formEx.checkTime" type="text" class="form-control" name="checkTime" required="true"
                placeholder="dd/mm/yyyy" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Số lượng kiểm tra</label>
              <input [(ngModel)]="formEx.quatity" type="number" class="form-control" name="quatity" required
                placeholder="Số lượng kiểm tra" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Tổng lỗi</label>
              <input [(ngModel)]="formEx.errTotal" type="number" class="form-control" name="errTotal" required
                placeholder="Tổng lỗi" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label>Kết luận</label>
              <select [(ngModel)]="formEx.conclude" class="form-control" name="conclude">
                <option value="Đạt">Đạt</option>
                <option value="Không đạt">Không đạt</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Người vận hành</label>
            <input [(ngModel)]="formEx.operators" type="text"
              class="form-control {{ !operators.valid ? 'is-invalid' :''}}" name="operators" required
              #operators="ngModel" placeholder="Người vận hành" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Ghi chú</label>
            <input [(ngModel)]="formEx.note" type="text" class="form-control" name="note" placeholder="Ghi chú" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <button (click)="onAddError()" class="btn btn-success" type="submit"
              [disabled]="!(f.form.valid && maChineControl.valid) ">
              Thêm mới
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #myModalError let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Thêm thông tin lỗi</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form name="form" (ngSubmit)="f.form.valid && onAddErrorChild()" #f="ngForm" novalidate *ngIf="show_work_order">
        <div class="row">


          <div class="col-md-6">
            <div class="form-group">
              <label>Chọn nhóm lỗi</label>
              <select required class="form-control" #errGroup="ngModel"
                (change)="onChangeErrorGroup(formErrorChild.errGroup)" name="errGroup"
                [(ngModel)]="formErrorChild.errGroup" #type="ngModel">
                <option *ngFor="let error of lstErrorGr; let idx = index" [value]="error.name">
                  {{ error.name }}
                </option>
              </select>

              <div class="alert-danger" *ngIf="errGroup.errors && f.submitted">
                <div *ngIf="errGroup.errors['required']">
                  Nhóm lỗi không được để trống
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Chọn lỗi</label>
              <select required class="form-control" name="errName" [(ngModel)]="formErrorChild.errName" #type="ngModel"
                #errName="ngModel">
                <option *ngFor="let error of lstError; let idx = index" [value]="error.name">
                  {{ error.name }}
                </option>
              </select>
              <div class="alert-danger" *ngIf="errName.errors && f.submitted">
                <div *ngIf="errName.errors['required']">
                  Tên lỗi không được để trống
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Số lượng</label>
              <input required="" type="number" (change)="onChangeQuantityError(formErrorChild.quantity)"
                class="form-control" name="regulationNevel" [(ngModel)]="formErrorChild.quantity" required
                #level="ngModel" placeholder="Số lượng lỗi" #quantity="ngModel" />
              <div class="alert-danger" *ngIf="quantity.errors && f.submitted">
                <div *ngIf="quantity.errors['required']">
                  Số lượng kiểm tra không được để trống
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Tỷ lệ lỗi</label>
              <input readonly type="text" class="form-control" name="ratio" [(ngModel)]="formErrorChild.ratio"
                #level="ngModel" placeholder="tỷ lệ lỗi" />

              <label style="color: red">{{ errorAdd }}</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Serial</label>
              <input type="text" class="form-control" name="regulationNevel" [(ngModel)]="formErrorChild.serial"
                #level="ngModel" placeholder="Serial" #quantity="ngModel" />
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Thêm mới</button>
          </div>
        </div>
      </form>


      <table class="table table-bordered">
        <tr>
          <th>Loại lỗi</th>
          <th>Tên lỗi</th>
          <th>Số lượng</th>
          <th>Tỷ lệ lỗi</th>
          <th width="50px">Tùy chọn</th>
        </tr>

        <tr *ngFor="let error of arrErrChild">
          <td>{{ error.errGroup }}</td>
          <td>{{ error.errName }}</td>
          <td>{{ error.quantity }}</td>
          <td>{{ error.ratio }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteErrorRow(error.ids)" *ngIf="show_work_order">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</ng-template>